/* Estilos para el juego de memoria */
html{
  background-image: url(../imgs/dalequesovo.jpg);
}

body{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  background-color: #B6BE9C;
}
#ingreso-nombre{
  background-color: #B6BE9C
}
.juego-de-memoria {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  background-color: #B6BE9C;
}

#tablero-juego {
  width: 70%; /* Ancho del tablero */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
/* Añade una clase para mostrar/ocultar el tablero */
#tablero-juego.mostrar {
  display: flex;
  align-content: center;
}

.info-juego{
  background-color: #B6BE9C;
}
.carta {
  width: 100px; /* Ancho deseado de la carta */
  height: 100px; /* Alto deseado de la carta */
  margin: 5px;
  background-color: #87A330;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.contenido-carta {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.carta.volteada .contenido-carta {
  opacity: 1;
}
.contenedor-puntuaciones{
height: 80%;
}